*{
	box-sizing: border-box;
	margin:0;
	padding:0;
			
}
body{
	background: url("images/back-img.jpg") repeat ;
	justify-content: center;
	flex-direction: column;
	/* overflow-x: hidden; */

}
		
main{
			
	width:600px;
	margin:45px 0;
	justify-content: center;
	flex-wrap: wrap;
}
		
table{
	width:600px;
	background-color: #396c63;
	box-shadow:2px 2px 2px #294840;
	margin-bottom: 75px;
}
		
th{
	font-size: 20px;
	color:#edda01;
	font-family: 'ABeeZee', sans-serif;
	padding:8px 0;
	
}
td{
	text-align: center;
	font-size: 22px;
	color:#F7F9F9;
	letter-spacing: 1px;
	border-bottom:2px solid #edda01;
	padding-top:15px;
}
#delete i{
	width:100%;
}
td:last-child{
	width:80px;
}
td:last-child:hover i{
	transform: scale(1.2);
}
header,body,main{
	display: flex;
	align-items: center;
}
		header{
			background-color: #396c63;
			padding:20px 50px;
			box-shadow: 1px 1px 2px #396c63,1px 1px 2px #edda01 ;
			width:100%;
		}
		header>i{
			font-size: 45px;
			color:#edda01;
			margin-right: 30px;
		}
		h1{
			font-family: 'ABeeZee', sans-serif;
			font-family: 'Lemonada', cursive;
			color:#F7F9F9;
			letter-spacing: 5px;
			font-size: 35px;
			text-transform: uppercase;
			text-shadow: 2px 2px 2px #edda01;
			
		}
		input,button{
			outline:none;
			border-radius: 2px;
		}
		input{
			
			padding:5px 10px;
			font-size: 18px;
			font-family: 'M PLUS 1p', sans-serif;
			font-weight: 500;
			border:none;
			margin-right: 5%;
		}
		input::placeholder{
			font-size: 14px;
			color:lightgray;
			font-style: italic;
		}
		button{
			padding:5px 8px;
			background-color:#edda01;
			color:#294840;/*dark green*/
			border:2px solid #F7F9F9;
		}
		button:hover{
			transform: scale(1.2);
		}
		i{
			font-size: 20px;
		}
		footer{
			height:60px;
			width:100%;
			position: fixed;
			bottom:0;
			background-color: #edda01;
			border-top:1px solid #396c63;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1% ;
		}
		footer>div{
			width:100%;
			position: relative;
		}
		footer i{
			font-size: 30px;
		}
		footer i:last-child{
			float:right;
		}
		footer i:first-child ,footer i:last-child{
			color:#6D736C;
			font-size: 38px;
		}
		i:nth-child(2),i:nth-child(3),i:nth-child(4),i:nth-child(5),i:nth-child(6),i:nth-child(7){
			position: absolute;
			right:1%;
			z-index:-1;
			animation: itemAnim 10s linear infinite;
		}
		i:nth-child(2){
			color:#DE0C12;
			animation-delay: 1.5s;
		}
		i:nth-child(3){
			color:green;
			animation-delay: 3s;
		}
		i:nth-child(4){
			color:yellow;
			animation-delay: 4.5s;
		}
		i:nth-child(5){
			color:#FFA500;
			animation-delay: 6s;
		}
		i:nth-child(6){
			color:#BA55D3;
			animation-delay: 7.5s;
		}
		i:nth-child(7){
			color:#926C10;
			animation-delay: 9s;
		}
		@keyframes itemAnim{
			0%{
				right:1%;
			}
			10%{
				right:1%;
			}
			20%{
				right:1%;
			}
			30%{
				right:15%;
			}
			40%{
				right:30%;
			}
			50%{
				right:45%;
			}
			60%{
				right:60%;
			}
			70%{
				right:75%;
			}
			80%{
				right:97%;
			}
			90%{
				right:97%;
			}
			95%{
				right:97%;
			}
			100%{
				right:97%;
			}

		}
		
		@media only screen and (max-width: 768px){
			h1{
				font-size: 30px;
			}
			body{
				align-items: center;
			}
			table{
				width:90%;

			}
			main{
				flex-direction: column;
				width:90%;
			}
			input{
				width:50%;
				margin-bottom: 20px;
				padding:5px;
				margin-right: 0;
			}
			
			header{
				padding-right: 0;
				padding-left: 10px;
			}
			header h1 {
				font-size: 25px;
			}
			header i{
				font-size: 30px;
			}
		}
